
@media screen and (max-width: 1440px) {	.basic_info_link
{
     text-decoration: none;
		margin: 10px;
		padding: 80px;
		display: inline-block;
		background-color: blue;
		text-align: center;
		color: white;
		font-size: 30px;
		
	} }
.basic_info_link:hover
{
        color: chartreuse;
        text-decoration: none;
}
@media screen and (max-width: 1440px) {.Education_link
{
	    text-decoration: none;
		margin: 10px;
		padding-bottom:80px;
		padding: 79px;
		text-align: center;
		display: inline-block;
		background-color: purple;
		color: white;
		font-size: 30px;
} }
    .Education_link:hover
	{
        color: blue;
        text-decoration: none;
	}
@media screen and (max-width: 1440px) {	.Work_link
	{
        text-decoration: none;
		margin: 10px;
		padding: 80px;
		display: inline-block;
		background-color: turquoise;
		text-align: center;
		color: black;
		font-size: 30px;
		
	}}
.Work_link:hover
	{
        color: purple;
        text-decoration: none;
	}
@media screen and (max-width: 1440px) {	.Program_link
	{
        text-decoration: none;
		margin: 10px;
		padding: 55px;
		padding-top: 80px;
		padding-bottom: 80px;
		display: inline-block;
		background-color: orange;
		color: white;
		font-size: 30px;
		
	}}
	.Program_link:hover
	{
		color: cyan;
		text-decoration: none;
	}
@media screen and (max-width: 1440px) {	.Favorite_media_link
	{
        text-decoration: none;
		margin: 10px;
		padding: 80px;
		display: inline-block;
		background-color: red;
		text-align: center;
		color: white;
		font-size: 30px;
		
	}}
	.Favorite_media_link:hover
	{
		color: orange;
		text-decoration: none;
	}
@media screen and (max-width: 1440px) {	 .Website_link
    {
        text-decoration: none;
		margin: 10px;
		padding: 80px;
		display: inline-block;
		background-color: magenta;
		color: white;
		font-size: 30px;
		text-align: center;
		
    }}
    .Website_link:hover
    {
    	color: yellow;
    	text-decoration: none;
    }
@media screen and (max-width: 1440px) {    .Hobbies_link
	{
     text-decoration: none;
		margin: 10px;
		padding: 80px;
		display: inline-block;
		background-color: lime;
		text-align: center;
		color: white;
		font-size: 30px;
		

	}}
	.Hobbies_link:hover
	{
	     color: #1034A6;
	     text-decoration: none;
	}
@media screen and (max-width: 1440px) {	.Projects_link
	{
		text-decoration: none;
		margin: 10px;
		padding: 80px;
		display: inline-block;
		background-color: yellow;
		text-align: center;
		color: white;
		font-size: 30px;
		
	}}
	.Projects_link:hover
	{
		color: indigo;
		text-decoration: none;
	}
	#categories
	{
		margin-left: 80px;
	}
@media screen and (max-width: 1440px) {.Basic_info 
{ 
padding: 25px; background-color: blue; color: white; text-align: center;
}}
.Manhattan
	{
     border: 5px solid blue;
	}
.Manhattan_Night
	{
      border: 5px solid blue;
	}
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.Education	
{
 background-color: purple;	
 color: white;	
 padding: 25px;		
 text-align: center;	
}}
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.Work_Experience
{
	background-color: turquoise;
	color: black;
	padding: 25px;
	
	text-align: center;
}}
.Work_list
{
	margin-top: 25px;
}
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.Programming_Skills
{
	background-color: orange;
	color: white;
	padding: 25px;
	text-align: center;
}}
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.favorite_media
{
	background-color: red;
	color: white;
	padding: 25px;
	
	text-align: center;
}}
 .Input
  {
  	margin-left:50px;
  }
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.Websites
{
	background-color: magenta;
	color: white;
	padding: 25px;
	text-align: center;
}}
.Website_list
{
  font-size: 28px;
  margin-top: 25px;
}
.discogs:hover
{
  color: yellow;
}
.w3schools:hover
{
color: yellow;
}
.youtube:hover
{
color: yellow;
}
.spotify:hover
{
  color: yellow;
}

.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.My_Hobbies
{
	background-color: lime;
	color: white;
	padding: 25px;
	text-align: center;
}}
.gallery
 	{
 		margin-left: 50px;
 	}
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }
@media screen and (max-width: 1440px) {.Projects
	{
     
     background-color: yellow;
	 color: white;
	 padding: 25px;
	 text-align: center;
	}}
.Back_to_mainpage
     {
     background-color: white;
	 color: black;
	 padding: 25px;
	 text-align: center;
	 display: inline-block;
	 text-decoration: none;
     }
.Back_to_mainpage:hover
     {
     	color: blue;
     	text-decoration: none;
     }